.header {
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

.logoHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;

    img {
        height: 20%;
    }
    h1 {
        font-size: 25px;
        color: #FFF;
    }
}

.navHeader {
    width: 30%;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    .link {
        color: #FFF;
        text-decoration: none;
        font-size: 20px;
        }
}

.barraDeBusca {
    border: solid #FFF;
    width: 30%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-right: 5%;
    input {
        background-color: transparent;
        border: none;
        width: 80%;
        &::placeholder{
            color: #FFF;
            font-size: 15px;
        }
    }

    button {
        background-color: transparent;
        border: none;
    }
}

@media (max-width: 768px) {
   .header {
       flex-direction: column;
       justify-content: space-evenly;
   }
   .logoHeader{
        width: 90%;
        img {
            height: 20%;
        }
   }

   .navHeader {
        width: 90%;
   }

   .barraDeBusca {
        display: none;
   }
}